<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="cateMapper">
 <resultMap id="cate" type="com.hyoni91.Diary.users.VO.CateVO">
  <id column="CATE_NUM" property="cateNum"/>
  <result column="CATE_NAME" property="cateName" />
  <result column="CATE_CORLOR" property="cateCorlor" />
 </resultMap>
	
</mapper>































